
h2 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Princess Sofia', cursive;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;

}

body {
    background-color: GhostWhite;
    padding: 20px;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 26px;
}